<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>    
        <link rel="stylesheet" href="../public/styles/admin.css" />
        <link rel="stylesheet" href="/styles/forms.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato" rel="stylesheet">
        <link rel="stylesheet" href="/styles/styles-advanced.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        {{> header}}
        <div id="admin-wrap">
            <h1>Welcome {{user.username}}, to the Super Secret Admin Area!</h1>
            {{#if adminMessage}}
                <div class="errorMessage">
                    {{adminMessage}}
                </div>
            {{/if}}
            <form method="POST" class="post-form form" action="/article">
                <h2>Add New Post</h2>
                <div class="input-wrap">
                    <label for="title">Post Title</label>
                    <input type="text" name="title" />
                </div>
                <div class="input-wrap">
                    <label for="summary">Summary</label>
                    <textarea name="summary"></textarea>
                </div>
                <div class="input-wrap">
                    <label for="full_text">Full Text</label>
                    <textarea name="full_text" rows="10"></textarea>
                </div>
                <div class="input-wrap">
                    <label for="image">Post Image</label>
                    <input type="text" name="image" />
                </div>
                <button type="submit">Add Post</button>
            </form>
        </div>
        {{>footer}}
    </body>
</html>