* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
}

body {
    background-color: #eaeaef;
}

.logo {
    font-family: 'Amatic SC', cursive;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-size:50px;
}

b{
    font-size:25px;
}
#login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.login-form {
    display: flex;
    margin-bottom:100px;    

    flex-direction: column;
    justify-content: space-between;
    align-items: space-between; 
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 10px;
}
